body{
	background: #FFFFFF; 	
}

#content{
 height: 80vh;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 padding-top: 50px;
}

.icons{
	width: 125px;
	margin: 0 auto;
}

h1{
	font-family: 'Hi Melody', cursive;
	text-align: center;
	color:#60A6CA;
	font-size: 2.5em;
}

h4{
	font-family: 'Hi Melody';
	font-weight: bold;
	text-align: center;
	color: rgb(19, 87, 121);
}

.logo{
	width: 40%;
	margin: 0 auto;
}

.logo img{
	width: 100%;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 60px;
	height: 60px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

.fa-facebook {
  background: #60A6CA;
  color: white;
}

.fa-twitter {
  background: #60A6CA;
  color: white;
}

a:hover{
	color: white;
	text-decoration:none;
}