body{
	background: #FFFFFF; 	
	/*font-family: 'Pacifico', cursive;*/
	font-family: 'Courgette', cursive;
}

#content{
 height: 100vh;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 padding-top: 20px;
}

#information{
	background: #60A6CA;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px;


}

.center-full{
	display: flex;
	align-items: center;
	justify-content: center;
}


a{
	color:#60A6CA;
	text-decoration:none;
	text-align: center;
}

a:hover{
	color: rgb(6, 60, 87);
	text-decoration:none;
}

.icons{
	width: 125px;
	margin: 0 auto;
}

h1{
	text-align: center;
	color:#60A6CA;
	font-size: 2.5em;
}

h2{
	text-align: center;
	color:white;
	font-size: 2em;
}

h3{
	text-align: center;
}

h4{
	text-align: center;
	color: #60A6CA;
}

.logo{
	width: 40%;
	margin: 0 auto;
}

.logo img{
	width: 100%;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 60px;
	height: 60px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

.fa-facebook {
  background: #60A6CA;
  color: white;
}

.fa-twitter {
  background: #60A6CA;
  color: white;
}


label{
	color:#60A6CA;
}

.btn{
	background: #60A6CA;
	color: white;
}

.contact_div{
	width: 1000px;
	margin: 0 auto;	
}

.center{
	text-align: center;
}

video{
	width: 100%;
	height: auto;
}