body{
	background: #FFFFFF; 
	font-family: 'Hi Melody', cursive;
}

#content{
 height: 100vh;
 width: 100%;
 //display: flex;
 //align-items: center;
 //justify-content: center;
 padding-top: 50px;
}

.icons{
	width: 200px;
	margin: 0 auto;
}

h1{
	text-align: center;
	color:#60A6CA;
	font-size: 2.5em;
}

.logo{
	width: 50%;
	margin: 0 auto;
}

.logo img{
	width: 100%;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 20px;
	height: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

.fa-facebook {
  background: #60A6CA;
  color: white;
}

.fa-twitter {
  background: #60A6CA;
  color: white;
}